$hero-color: white;
$hero-image: 'http://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png';
$hero-height: 60em;

.hero {
    min-height: 30em;
    min-height: 30vh;
    max-height: $hero-height;
    overflow: hidden;
    position: relative;
    width: 100%;

    .hero-inner {
        padding: 5em 4em;
        position: relative;
        text-align: center;
        color: $hero-color;
        z-index: 9;
    }

    .hero-background {
        background: url($hero-image) no-repeat;
        background-size: cover;
        background-color: $base-accent-color;
        background-position: top;
        height: $hero-height;
        left: 0;
        position: absolute;
        top: - $hero-height / 4;
        width: 100%;
    }
}
