@import 'bourbon';
@import 'normalize';
@import 'base/base';
@import 'neat';

// Hero image
@import 'hero';

body > header {
    background: $base-accent-color;
    color: white;
    padding: 0 1em;

    .header-text {
        @include outer-container;
        padding-top: 1em;
        padding-bottom: 2em;

        h1 {
            margin-bottom: .75rem;
        }
    }
}

// Content
.content {
    @include outer-container;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

@import 'card';
.card-header .number {
    padding: 0 0.5em;
    position: relative;

    &:before {
        border: 2px $base-font-color solid;
        border-radius: 50%;
        display: inline-block;
        content: ' ';
        height: 1.5em;
        left: 1px;
        position: absolute;
        top: -2px;
        width: 1.5em;
    }
}

.ballot {

    .ballot-copy {
        @include span-columns(6);
    }

    .ballot-form {
        @include span-columns(6);
    }
}

@import 'footer';
