{% extends 'components/base.html' %}
{% block title %}
    NTUVote 開源社電子投票系統
{% endblock %}
{% block body %}
    <section id="hero" class="hero">
        <div class="hero-inner"></div>
        <div id="hero-background" class="hero-background"></div>
    </section>
    <header>
        <div class="header-text">
            <h1>帳號設定</h1>
        </div>
    </header>
    <div class="content">
        <h5>概要</h5>
        <p>帳號：{{ user.username }}</p>
        <p>電子郵件：{{ user.email }}</p>
        <h5>選項</h5>
        <p><a href="{% url 'auth.views.logout' %}">登出</a></p>
        <p><a href="{% url 'core.views.index' %}">回到首頁</a></p>
    </div>
    {% include 'components/footer.html' %}
{% endblock %}
